In [ ]:
3. Условный оператор.

In [ ]:
1

In [1]:
a = float(input("a = "))
x = float(input("x = "))

if x > 0:
    y = a * x**2 + 1
else:
    y = a * x - 1

print(f"y = {y}")

a = 3
x = 4
y = 49.0

In [ ]:
2

In [ ]:
a = float(input("a = "))
x = float(input("x = "))

if x >= 1:
    y = a * x + 1
else:
    y = x**2 - 1

print(f"y = {y}")

In [ ]:
3

In [ ]:
a = float(input("a = "))
x = float(input("x = "))

if x < 0:
    y = 3 * a**2
else:
    y = 4 * a * x - 1

print(f"y = {y}")

In [ ]:
4

In [ ]:
a = float(input("a = "))
x = float(input("x = "))

if x > 4:
    y = 2 * a**2
else:
    y = 3 * x - 1

print(f"y = {y}")

In [ ]:
5

In [ ]:
a = float(input("a = "))
x = float(input("x = "))

if x > 2:
    y = 2 * a * x - 2
else:
    y = 3 * a**2 - 2 * x

print(f"y = {y}")

In [ ]:
6

In [ ]:
a = float(input("a = "))
x = float(input("x = "))

if x > 1:
    y = 2 * a * x**2 - 1
else:
    y = x

print(f"y = {y}")

In [ ]:
7

In [ ]:
a = float(input("a = "))
x = float(input("x = "))

if x > 2:
    y = x**2
else:
    y = 2 * a - 1

print(f"y = {y}")

In [ ]:
4. Циклы.

In [ ]:
1

In [ ]:
K = int(input("K = "))
N = int(input("N = "))

for _ in range(N):
    print(K)

In [ ]:
2

In [ ]:
A = int(input("A = "))
B = int(input("B = "))

count = 0
for i in range(A, B + 1):
    print(i)
    count += 1

print(f"Количество чисел: {count}")

In [ ]:
3

In [ ]:
A = int(input("A = "))
B = int(input("B = "))

count = 0
for i in range(B - 1, A, -1):
    print(i)
    count += 1

print(f"Количество чисел: {count}")

In [ ]:
4

In [ ]:
price = 20.4

for i in range(1, 11):
    cost = price * i
    print(f"{i} шт. — {cost:.2f} руб.")

In [ ]:
5

In [ ]:
A = int(input("A = "))
B = int(input("B = "))
H = int(input("H = "))

for i in range(A, B + 1, H):
    print(f"{i}^2 = {i**2}")

In [ ]:
6

In [ ]:
A = int(input("A = "))
B = int(input("B = "))
H = int(input("H = "))

for i in range(A, B + 1, H):
    if i > 0:
        print(i)

In [ ]:
7

In [ ]:
A = int(input("A = "))
B = int(input("B = "))

total = 0
for i in range(A, B + 1):
    total += i

print(f"Сумма = {total}")

In [ ]:
8

In [ ]:
A = int(input("A = "))
B = int(input("B = "))

product = 1
for i in range(A, B + 1):
    product *= i

print(f"Произведение = {product}")

In [ ]:
9

In [ ]:
A = int(input("A = "))
B = int(input("B = "))

total = 0
for i in range(A, B + 1):
    total += i**2

print(f"Сумма квадратов = {total}")

In [ ]:
10

In [ ]:
price = float(input("Цена за 1 кг: "))

kg = 1.0
while kg <= 2.01:  # 2.01 для учета погрешности float
    cost = price * kg
    print(f"{kg:.1f} кг — {cost:.2f} руб.")
    kg += 0.2